*, *:before, *:after {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.divide {
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

.mode{
  margin-top: 15px;
  position: absolute;
  right: 5%;
  cursor: pointer;
}
#light .formContainer{
  overflow: auto;
  width: 100%;
  background-color: #E5E5E5;

}

#dark .formContainer{
  overflow: auto;
  width: 100%;
  background-color: rgb(44, 44, 44);
  color: white;
}

.firstContainer{
  width: 100%;
  overflow: hidden;
  float: right;
  background-color: #DADADA;
}

.logoContainer{
  margin-top:5%;
  margin-right: 34%;
}

.firstContainer h1 {
  color: #444AFF;
  margin-right: 27%;
  font-size: 41px;
  
}

.firstContainer p {
  color: #444AFF;
  text-align: center;
}

.textContainer {
  text-align: center;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.textContainer p {
  width: 80%;
  font-size: 18px;
  text-align:left;
}

form{
  position: relative;

}
form input{
  height: 40px;
  width: 40%;
  padding: 15px;
  margin:10px 0;
  border:0.1;
  border-radius: 4px;
}

form label{
  position: relative;
  display:block;
  margin-top: 15px;
}


.checkbox{
height: 20px;
width: 20px;
}

.error{
  display: block;
  color: #EE6356;
  font-size:smaller;
}

.formError{
color: red;
}

.loginButton{
  width: 45%;
  height: 50px;
  border-radius: 4px;
  border:0;
  text-align: center;
}

#light .loginButton{
  background-color:#444AFF;
}

#dark .loginButton{
  background-color: #FFBF5E;
  ;
}
button:disabled{
color:pink;
}

.lines{
  position: relative;
  right: -16%;
}
